<a href="https://colab.research.google.com/github/buthaina279/P4DS/blob/main/A2_Earthquakes_V2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## Assignment 2

# Data and Algorithms:
## Cities and Earthquakes

## an exercise in geographic data analysis

#### Last Modified: 5th October 2021 (BB)

## Question 1: World Cities

In this coursework exercise, you will download data from the provided link and read it in as a `CSV` file using the Pandas data analysis package for Python.
The data we will use contains a variety of information about cities from around the world.

### Coding Techniques for Working with `DataFrame`s

To complete these tasks you will need to access and filter a `DataFrame`. 
The `DataFrame` data structure has many convenient features for extracting and ordering information. Although conceptually it can be thought of as a comptuational
represention of a table, it is quite a complex data structure and takes a while
to master. The following questions can be done with only a small but powerful
set of `DataFrame` operations; and the following examples of typical forms of programming with `DataFrame`s should be useful 
for coding your answers.

#### Loading data from a CSV file into a `DataFrame`

`DataFrame`s are specifically designed to handle data organised in a tabular format.
Hence, as we would expect, since `CSV` is the standard format for tabular data, it is very easy to 
create a `DataFrame` by loading data from a `CSV` file.

* ```pandas.read_csv(source)``` ---
The  [read_csv function](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html#pandas.read_csv) can accept a filename or URL as an argument.

#### Getting the Data for this Question

Download the data file ```worldcities.csv``` from the 
module's [data repository](https://teaching.bb-ai.net/P4DS/data/index.html), and put
the file in the same directory as this Jupyter notebook file.
Then, by running the following cell, we can set the 
global variable ```WC_DF``` to a DataFrame containing the information from ```worldcities.csv```.

In [2]:
from google.colab import drive
drive.mount('/content/drive')



#import A1_P4DS2_Python_Programming_tests

Mounted at /content/drive

In [3]:
!cp drive/MyDrive/Programming4DS/Summative_AS/AS2/worldcities.csv .

In [4]:
## WC_DF Initialisation

import pandas  ## This is the module for creating and manipulating DataFrames

WC_DF = pandas.read_csv("worldcities.csv")

**Be sure to keep the same variable name** `WC_DF` **for this global variable, otherwise most of the
following code will not work and you will break the autograder.**

#### Checking the contents of a DataFrame

Pandas provides the following useful methods that enable you to quickly check the contents of a `DataFrame`:

* ```df.head()``` ---
  For a DataFrame object, ```df```, this method extracts the first 5 rows of data, so you can easily check what the data looks like.
  
* ```df.describe()``` --- for a DataFrame, ```df```, this method provides a table giving and overview of some basic statistical properties of the DataFrame.

Note that the ```head()``` and ```describe()``` methods are actually operations that 
return a new DataFrame object. If this value is returned by the last line of a cell
it will be displayed as a table, but if it is generated elsewhere in the code
you will not see any output unless you use the ```display``` function from the
```IPython.display``` module.

#### Accessing DataFrame columns and rows

Each column of a `DataFrame` is a list-like object called a
`Series`. Elements, and slices of a `Series` can then be accessed in similar
fashion to a list. The following illustrates how get the `Series` containing
the first 5 elements of the `city` column of `WC_DF`:

In [ ]:
top_5_cities = WC_DF["city"][:5]   ## selects the first 5 items of the "city" column.
top_5_cities

0          Tokyo
1       New York
2    Mexico City
3         Mumbai
4      São Paulo
Name: city, dtype: object

In the above output, the left hand column of the displayed value of `top_5_cities` 
shows the index label of each element. One of the differences between a `Series` and an ordinary list is that, whereas a list always has integers for its index labels, a `Series` can have different kinds of values for these. For instance (though there
is no reason to do this for the current assignment) we could set the index values to alphabetic letters, as follows:

In [ ]:
top_5_cities.index = list("abcde")
top_5_cities

a          Tokyo
b       New York
c    Mexico City
d         Mumbai
e      São Paulo
Name: city, dtype: object

In [ ]:
top_5_cities.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

You can also use ```.values``` to return an `array` of the column values without
the index:

In [ ]:
WC_DF["city"][:5].values

array(['Tokyo', 'New York', 'Mexico City', 'Mumbai', 'São Paulo'],
      dtype=object)

An `array` is also a list-like datastructure. It does not have an index. The main difference between a list and an `array` is that the list is optimised for
storing large amounts of information and for efficiently applying numerical and
other operations to all elements of the array. Hence, `array`s are usually preferred
to lists when handling large amounts of information, or when storing numerical
vectors.

You can also easily find the column names of the DataFrame using ```.columns```, for example:

In [ ]:
WC_DF.columns

Index(['city', 'city_ascii', 'lat', 'lng', 'country', 'iso2', 'iso3',
       'admin_name', 'capital', 'population', 'id'],
      dtype='object')

__Note:__ The `Index` returned here is yet another type of list-like, object. It is similar to an array,
except that it is used for indexing a `Series` or `DataFrame`. You do not usually
need to create or deal with `Index` objects directly, since this is done automatically when you create and minipulate `DataFrame`s. So you will normally only see one, when
you want to look at the columns or rows of a `DataFrame`. But what you should be
aware of, when dealing with `DataFrames`, is that the word _index_ can refer to
several different types of thing.

In many cases you can treat `Series`, `array` and `Index` objects like lists and if you want to change them to an ordinary list you can just use the `list` operator,
as in the following:

In [ ]:
list(WC_DF.columns)

['city',
 'city_ascii',
 'lat',
 'lng',
 'country',
 'iso2',
 'iso3',
 'admin_name',
 'capital',
 'population',
 'id']

We can refer to rows of a `DataFrame` either by the expression `DF.loc[label]`, where `label` is the index label of the row we want, or by `DF.iloc[n]`,
where `n` is an `int` giving the position of the row in the `DataFrame`.
In the case of `WC_DF`, the labels are integers, so we would get the same result using either. You could test this. You could also see the difference if you try finding a row of `top_5_cities` `DataFrame` defined above, after its index labels have been replaced by letters. In this case you could access rows either using letters, using `loc`, or by `int`s, using `iloc`.

In [ ]:
WC_DF.iloc[1]

city               New York
city_ascii         New York
lat                 40.6943
lng                -73.9249
country       United States
iso2                     US
iso3                    USA
admin_name         New York
capital                 NaN
population      1.93549e+07
id               1840034016
Name: 1, dtype: object

#### Iterrating through the rows of a DataFrame
A convenient way of going through the rows of a `DataFrame` to perform some operation i by using the `iterrows` method in a `for` loop. This enables you to get both the index label and the row itself, for each successive row of the `DataFrame`. The following code is a simple example:

In [ ]:
for i, row in WC_DF.iterrows():
    print(i, row['city_ascii'], row['lat'], row['lng'])
    if i >3: break

0 Tokyo 35.685 139.7514
1 New York 40.6943 -73.9249
2 Mexico City 19.4424 -99.131
3 Mumbai 19.017 72.857
4 Sao Paulo -23.5587 -46.625

#### Sorting the rows of a DataFrame

It is easy, and often very useful, to sort the DataFrame by column values using ```.sort_values```, for example:

In [ ]:
WC_DF.sort_values(by=["country"], ascending=True)[:10] # Sorts countries by alphabet

                    city       city_ascii  ...  population          id
10235             Karukh           Karukh  ...     17484.0  1004546127
8527   Kōṯah-ye ‘As̲h̲rō  Kotah-ye `Ashro  ...     35008.0  1004450357
3341          Shibirghān       Shibirghan  ...     93241.0  1004805783
6050               Khōst            Khost  ...         NaN  1004919977
5141       Maḩmūd-e Rāqī    Mahmud-e Raqi  ...      7407.0  1004151943
2088         Lashkar Gāh      Lashkar Gah  ...    201546.0  1004765445
3210              Gardēz           Gardez  ...    103601.0  1004468894
6249        Maīdān Shahr     Maidan Shahr  ...         NaN  1004798735
2105            Maīmanah         Maimanah  ...    199795.0  1004622920
7399             Andkhōy          Andkhoy  ...     71730.0  1004472345

[10 rows x 11 columns]

##### Note on __encodings__ of the city name
there are two columns that hold the city name. The first column name is `'city'` and
the second is `city_ascii`. There are various different ways in which textual
information can be encoded into bytes. These days [Unicode characters](https://home.unicode.org/)
encoded using [UTF-8](https://en.wikipedia.org/wiki/UTF-8) are pretty standard.
But the older [ASCII](https://en.wikipedia.org/wiki/ASCII) code, which uses
a single byte per character is still commonly used. Unicode provides a huge
variaty of text characters and other symbols, whereas ASCII is quite 
limited (mainly to characters and symbols found in standard English). 
But ASCII and is simpler and in 
some ways easier to deal with than UTF-8. In the following questions you
will be asked to use the ASCII version of the city name (from the `city_ascii` column). This mainly just to make you aware that there are different encodings
of text strings, but it will also prevent cerain problems that could occur in the
Autograder, if different people used different encodings.

#### Filtering DataFrames
By _filtering_ we mean keeping some parts that we want and throwing away others.
Typically, we look for rows that match some condition; and the filter condition
is often some constraint involving the values for that row in one or more
columns.
`pandas` `DataFrame`s can  be filtered according values of a column by using a boolean expression, for example:

In [ ]:
filtered_DF = WC_DF[ WC_DF['capital'] == 'admin'] # This keeps only administrative capitals
filtered_DF.head()

        city city_ascii      lat  ...  capital  population          id
3     Mumbai     Mumbai  19.0170  ...    admin  18978000.0  1356226629
4  São Paulo  Sao Paulo -23.5587  ...    admin  18845000.0  1076532519
5      Delhi      Delhi  28.6700  ...    admin  15926000.0  1356872604
6   Shanghai   Shanghai  31.2165  ...    admin  14987000.0  1156073548
7    Kolkata    Kolkata  22.4950  ...    admin  14787000.0  1356060520

[5 rows x 11 columns]

This way of filtering is a very powerful and useful aspect of `DataFrames`. 
However, the
syntax of the filter operation is rather unusual and a bit difficult to understand.

What is happening can be explained by these steps in the way a filter expression
is evaluated:
*  `DF['label']` (where `DF` is any `DataFrame`), gives a `Series` corresponding
    to    the `'label'` column of `DF.
    
*  `a_series == val` is a special use of `==`. When a Boolean operator
    (such `==`, `<` etc.) is applied to a `Series` object
   the result is actually a `Series` of Boolean values (not a single Boolean).
   The new `Series` obtained will have the value `True` for each element where
   the original `Series` satisfies `element == val`, and `False` for the rest.
   
* `DF[ bool_series ]`, is a special kind of slice-like operation, where a boolean
   series is given as a selection argument to the `DataFrame`. It will return 
   a new DF, containing all the rows of `DF` for which `bool_series` has the 
   value `True`. (These rows can be quickly found because the `DataFrame` and
   the Boolean series both have the same `Index`.)
   
You do not necessarily need to follow all of that precise desciption of filtering
but it will be extremely helpful if you are able to construct filtering
operations similar to the above example. You will see another example below,
in relation to the earthquake data you will be processing.

### Overview of Question 1 tasks

This question requires you to write functions to carry out the following specific tasks. 

* __Question 1a__ --- Find all city names that include *non-ASCII* characters. __[1 Mark]__

* __Question 1b__ --- Find city names that occur multiple times in the dataset. __[2 Marks]__
* __Question 1c__ --- Create a dictionary of the number of cities in each country that are included in the dataset. __[1 Mark]__

* __Question 1d__ --- Create a `DataFrame` of the largest cities (by population) in the world. __[2 Marks]__
* __Quesiton 1e__  --- Find all cities in a given country whose population is above a given number. __[2 Marks]__

* __Question 1f__ --- Find the total population of people living in cities in a given country. __[2 Marks]__

Full details for each task are explained below.

### Question 1a

As we have seen, the names of some cities include accents or symbols that are not represented in the standard ASCII character set. Write a function `non_ascii_cities`, which returns a `Set` containing all the cities that occur in the `world_cities.csv` dataset whose name **cannot** be properly represented using only ASCII characters. 

Your function should not have any arguments. You should assume that the global variable WC_DF has already been initialised by running the first code cell in this notebook (see above).

In [ ]:
WC_DF.head(15)

              city      city_ascii      lat  ...  capital  population          id
0            Tokyo           Tokyo  35.6850  ...  primary  35676000.0  1392685764
1         New York        New York  40.6943  ...      NaN  19354922.0  1840034016
2      Mexico City     Mexico City  19.4424  ...  primary  19028000.0  1484247881
3           Mumbai          Mumbai  19.0170  ...    admin  18978000.0  1356226629
4        São Paulo       Sao Paulo -23.5587  ...    admin  18845000.0  1076532519
5            Delhi           Delhi  28.6700  ...    admin  15926000.0  1356872604
6         Shanghai        Shanghai  31.2165  ...    admin  14987000.0  1156073548
7          Kolkata         Kolkata  22.4950  ...    admin  14787000.0  1356060520
8      Los Angeles     Los Angeles  34.1139  ...      NaN  12815475.0  1840020491
9            Dhaka           Dhaka  23.7231  ...  primary  12797394.0  1050529279
10    Buenos Aires    Buenos Aires -34.6025  ...  primary  12795000.0  1032717330
11         Karachi         Karachi  24.8700  ...    admin  12130000.0  1586129469
12           Cairo           Cairo  30.0500  ...  primary  11893000.0  1818253931
13  Rio de Janeiro  Rio de Janeiro -22.9250  ...    admin  11748000.0  1076887657
14           Ōsaka           Osaka  34.7500  ...    admin  11294000.0  1392419823

[15 rows x 11 columns]

In [ ]:
# Question 1a answer cell

def non_ascii_cities():
  non_ascii_cities_set = []
  for i, row in WC_DF.iterrows():
   if  row['city'] != row['city_ascii']:
     non_ascii_cities_set.append(row['city'])
  return set(non_ascii_cities_set)

    # Modify to return a set of all non-ascii city names in the world_cities data

In [ ]:
non_ascii_cities()

### Question 1b

One issue that you will discover if you investigate the `worldcities.csv` data is that there are many different cities that have the same name. You may find it interesting to discover which are the most common city names. But for this question you need to write a function `num_cities_occurring_n_times(n)`, such that:
    
* The argument `n` is an integer;
* The returns an integer, which is the number of different city names that occur `n` times in the `worldcities` dataset. 
* The function should consider the city name to be the value in the `city` column. In other words the name in the form that may contain non-ASCII characters.

In [10]:
# Question 1b answer cell

def num_cities_occurring_n_times(n):
    WC_DF['city'].value_counts()[:n]

    # Modify to return a value according to the specification given above

In [12]:
print(num_cities_occurring_n_times(5))

None

### Question 1c

Write a function that returns a dictionary (a `dict` object), whose keys are all the country name strings that occur in the `worldcities` data and whose values are `int`s giving the number of cities of that country that are included in the dataset.

In [14]:
def country_num_cities_dict():
  #count the number of cities for each country and convert dataframe into dictionary
  WC_by_country = WC_DF.groupby('country')['city'].count().to_dict()
  #convert the count of cities into int
  for key, value in WC_by_country.items():
    value = int(value)
  return WC_by_country

In [15]:
print(country_num_cities_dict())

{'Afghanistan': 41, 'Albania': 26, 'Algeria': 60, 'American Samoa': 1, 'Andorra': 7, 'Angola': 49, 'Antigua And Barbuda': 1, 'Argentina': 155, 'Armenia': 12, 'Aruba': 1, 'Australia': 218, 'Austria': 10, 'Azerbaijan': 74, 'Bahamas, The': 2, 'Bahrain': 1, 'Bangladesh': 16, 'Barbados': 1, 'Belarus': 15, 'Belgium': 10, 'Belize': 7, 'Benin': 12, 'Bermuda': 1, 'Bhutan': 20, 'Bolivia': 70, 'Bosnia And Herzegovina': 7, 'Botswana': 25, 'Brazil': 387, 'Brunei': 4, 'Bulgaria': 27, 'Burkina Faso': 33, 'Burma': 37, 'Burundi': 19, 'Cabo Verde': 23, 'Cambodia': 27, 'Cameroon': 31, 'Canada': 250, 'Cayman Islands': 1, 'Central African Republic': 22, 'Chad': 27, 'Chile': 84, 'China': 392, 'Colombia': 72, 'Comoros': 3, 'Congo (Brazzaville)': 18, 'Congo (Kinshasa)': 88, 'Cook Islands': 1, 'Costa Rica': 13, 'Croatia': 21, 'Cuba': 27, 'Curaçao': 1, 'Cyprus': 6, 'Czechia': 13, 'Côte D’Ivoire': 26, 'Denmark': 12, 'Djibouti': 6, 'Dominica': 1, 'Dominican Republic': 32, 'Ecuador': 41, 'Egypt': 42, 'El Salvador': 14, 'Equatorial Guinea': 8, 'Eritrea': 8, 'Estonia': 17, 'Ethiopia': 36, 'Falkland Islands (Islas Malvinas)': 1, 'Faroe Islands': 29, 'Fiji': 4, 'Finland': 24, 'France': 58, 'French Guiana': 7, 'French Polynesia': 1, 'Gabon': 19, 'Gambia, The': 8, 'Georgia': 15, 'Germany': 58, 'Ghana': 23, 'Gibraltar': 1, 'Greece': 31, 'Greenland': 22, 'Grenada': 1, 'Guadeloupe': 3, 'Guam': 2, 'Guatemala': 26, 'Guinea': 29, 'Guinea-Bissau': 10, 'Guyana': 13, 'Haiti': 10, 'Honduras': 20, 'Hong Kong': 1, 'Hungary': 24, 'Iceland': 9, 'India': 212, 'Indonesia': 107, 'Iran': 64, 'Iraq': 27, 'Ireland': 34, 'Isle Of Man': 1, 'Israel': 6, 'Italy': 56, 'Jamaica': 15, 'Japan': 75, 'Jordan': 12, 'Kazakhstan': 96, 'Kenya': 61, 'Kiribati': 1, 'Korea, North': 28, 'Korea, South': 31, 'Kosovo': 37, 'Kuwait': 3, 'Kyrgyzstan': 15, 'Laos': 20, 'Latvia': 113, 'Lebanon': 8, 'Lesotho': 10, 'Liberia': 17, 'Libya': 39, 'Liechtenstein': 11, 'Lithuania': 54, 'Luxembourg': 12, 'Macau': 1, 'Macedonia': 71, 'Madagascar': 28, 'Malawi': 29, 'Malaysia': 33, 'Maldives': 21, 'Mali': 31, 'Malta': 68, 'Marshall Islands': 1, 'Martinique': 1, 'Mauritania': 22, 'Mauritius': 2, 'Mayotte': 1, 'Mexico': 188, 'Micronesia, Federated States Of': 5, 'Moldova': 38, 'Monaco': 1, 'Mongolia': 27, 'Montenegro': 24, 'Morocco': 21, 'Mozambique': 33, 'Namibia': 31, 'Nepal': 21, 'Netherlands': 15, 'New Caledonia': 3, 'New Zealand': 51, 'Nicaragua': 19, 'Niger': 16, 'Nigeria': 72, 'Northern Mariana Islands': 1, 'Norway': 37, 'Oman': 16, 'Pakistan': 41, 'Palau': 3, 'Panama': 17, 'Papua New Guinea': 27, 'Paraguay': 38, 'Peru': 89, 'Philippines': 118, 'Poland': 26, 'Portugal': 24, 'Puerto Rico': 58, 'Qatar': 8, 'Reunion': 2, 'Romania': 42, 'Russia': 569, 'Rwanda': 12, 'Saint Helena, Ascension, And Tristan Da Cunha': 2, 'Saint Kitts And Nevis': 1, 'Saint Lucia': 1, 'Saint Vincent And The Grenadines': 1, 'Samoa': 12, 'San Marino': 9, 'Sao Tome And Principe': 8, 'Saudi Arabia': 32, 'Senegal': 15, 'Serbia': 145, 'Seychelles': 1, 'Sierra Leone': 6, 'Singapore': 1, 'Sint Maarten': 1, 'Slovakia': 9, 'Slovenia': 212, 'Solomon Islands': 9, 'Somalia': 28, 'South Africa': 72, 'South Georgia And South Sandwich Islands': 1, 'South Sudan': 17, 'Spain': 49, 'Sri Lanka': 15, 'Sudan': 35, 'Suriname': 12, 'Swaziland': 8, 'Sweden': 35, 'Switzerland': 32, 'Syria': 21, 'Taiwan': 27, 'Tajikistan': 8, 'Tanzania': 63, 'Thailand': 84, 'Timor-Leste': 13, 'Togo': 9, 'Tonga': 2, 'Trinidad And Tobago': 15, 'Tunisia': 27, 'Turkey': 91, 'Turkmenistan': 14, 'Turks And Caicos Islands': 1, 'Tuvalu': 1, 'Uganda': 125, 'Ukraine': 51, 'United Arab Emirates': 8, 'United Kingdom': 228, 'United States': 7328, 'Uruguay': 33, 'Uzbekistan': 30, 'Vanuatu': 6, 'Venezuela': 51, 'Vietnam': 74, 'Wallis And Futuna': 1, 'West Bank': 1, 'Yemen': 27, 'Zambia': 34, 'Zimbabwe': 23}

### Question 1d
Write a function `largest_cities_dataframe` that takes an `int` argument `n`  and uses the
pandas DataFrame `WC_DF` to return a new `DataFrame` containing `n` rows corresponding to
the `n` largest cities in terms of population size, in order of decreasing population size.

You should return a dataframe such that it has the same columns as the `WC_DF` and each
row has the same values as a corresponding row of `WC_DF`. It does not matter if the row
indexes are the same. (They may or may not be the same depending on the specific way
that you create the new DataFrame.)

In [40]:
# Question 1d answer cell

def largest_cities_dataframe(n):
  df = pandas.DataFrame()  
  df = WC_DF.sort_values(by=["population"], ascending=False)[:n]
  return df
    # Modify to return a list of the n cities with the largest population

__NOTE:__ In answering __1d__ you may assume that no two cities have exactly the same population, which is almost but not quite certain, when dealing with large numbers like this. But, of course, when dealing with quantites where multiple data records could have the same value, we need to be careful, because this may not be the case.
For example, if we are interested in what equipement students own, we might think it would be informative
to find 'the top 10 students owning the most laptops'. In this case there could be: 1 student with 3 laptops, 23 students with 2 laptops, 160 with 1 laptop and 3 who do not own a laptop. In such a case it is not meaningful to pick the 'top 10' in terms of laptop ownership. A similar problem could potentiall occur with the earthquake data that we will look at later, because the earthquake magnitudes are only recorded to 1 decimal place.

### Question 1e
Define a function `big_cities_in_country( country, population)` that takes as arguments a string corresponding to the name of a country and an integer, which will referes to a population number.
The function should return a `list` of the form 
<center>
    <tt>[("city1", pop1), ("city2", pop2),... ]</tt>, 
</center>

where each pair
`("cityN", popN)` is a `tuple` consisting of the name, **in ASCII form**, of a city in the given `country`, followed by an `int`, which is the population of that city (according to the worldcities data). The list should include all and only those cities in the country whose population is greater than or equal to the given `popuplation` argument. The list should be ordered so that the `("cityN", popN)` items occur in **increasing** order of the population size `popN`.

In [95]:
# Complete question 1d in this cell
# country is a string argument
def big_cities_in_country(country, population):
  city_pop = []
  WC_country = WC_DF[ WC_DF['country'] == country]
  WC_pop = WC_country[ WC_country['population'] >= population]
  city_pop = list(zip(WC_pop['city_ascii'],WC_pop['population'].astype(int)))
  city_pop.sort(key=lambda tup: tup[1])
  return city_pop

   # Edit this function to return a list, as specified above

### Question 1f
Create a function that given a country name, returns an `int` which is the total population of 
people liveing in all the cities of that country, as given in `WC_DF`. 

**Hints:** 
* You can ignore cities for which no population value is recorded in `WC_DF`. You will need to be able to deal with `NaN` values. A distinctive feature of `NaN` values is that they have been defined so that `x != x` has the value `True` if `x` has a `NaN` value.

In [99]:
## Question 1e Answer Code Cell

def country_total_cities_population(country):
    WC_country = WC_DF[ WC_DF['country'] == country]
    sum_pop = WC_country['population'].sum(skipna = True)
    return int(sum_pop)

### Question 2: Earthquakes - Web Access and Pandas DataFrames

In this coursework exercise, you will learn how to download live information
from the web and procress it using the Pandas data analysis package for Python.

The data we will use as an example is from the 
[United States Geological Survey (USGS)](https://www.usgs.gov/), which 
provides a wide range of geographic and geological information and data.
We shall be using their data relating to seismological 
events (i.e. Earthquakes) from around the world, which is published in the 
form of continually updated CSV files. Information about these feeds can
be found [here](https://earthquake.usgs.gov/earthquakes/feed/). The URL for the particular feed we shall be using is given below.

Questions Overview

* __Q2a__ --- Initialise a Pandas DataFrame by downloading earthquake data from the web. __[1 mark]__
* __Q2b__ --- Find earthquakes of a given magnitude or higher.           __[1 mark]__
* __Q2c__ --- Make a DataFrame showing the most powerful quakes          __[2 marks]__
* __Q2d__ --- Make a DataFrame showing distance of quakes from a given location __[3 marks]__
* __Q2e__ --- Identify all cities endangered by earthquakes   __[3 marks]__

### Question 2a: Read in data file
Read earthquake data from the USGS live feed CSV ```all_day.csv``` into a Pandas DataFrame.
The data can be obtained directly from  http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_day.csv and read into a Pandas DataFrame.

__Note:__ For this question you do not need to download and save the file ```all_day.csv```. It should
be loaded directly from the web feed. However, while testing, if you have no internet connection or
a bad connection you could download a copy of the file. But remember to put it back to downloading
the current one before you submit. Note also that ```all_day.csv``` is a live file, which lists
quakes recorded during the past 24 hours, and is updated every minute, so of course,
you will not always get the same file or the same results. More information about this and other
earthquake feeds provided by USGS can be found [here](https://earthquake.usgs.gov/earthquakes/feed/v1.0/csv.php).

In [5]:
# Q2a answer code cell

import pandas    ## This is the module for creating and manupulating DataFrames

# Here we have assigned the url of the quake datasource to the global variable 
# 'QUAKE_SOURCE' for your convenience.
QUAKE_SOURCE = ( "http://earthquake.usgs.gov/" +
                 "earthquakes/feed/v1.0/summary/all_day.csv" )


QUAKE_DF = pandas.read_csv(QUAKE_SOURCE)  ## Modify this line to import the data using Pandas

#### You can use the following cell to test if you have read the quake data into `QUAKE_DF`

In [104]:
## If QUAKE_DF is a DataFrame, show the first 5 rows
try:
    if type(QUAKE_DF) == pandas.DataFrame:
        display(QUAKE_DF.head())
    else:
        print("QUAKE_DF is not a DataFrame")
except:
    print("QUAKE_DF has not been assigned a value")

                       time   latitude  ...  locationSource  magSource
0  2021-10-24T22:48:20.469Z  59.500700  ...              ak         ak
1  2021-10-24T22:46:23.312Z  59.973700  ...              ak         ak
2  2021-10-24T22:07:08.100Z  19.196833  ...              hv         hv
3  2021-10-24T21:54:53.548Z   3.037900  ...              us         us
4  2021-10-24T21:36:21.800Z  19.187666  ...              hv         hv

[5 rows x 22 columns]

##### Note:
The columns containing latitude and longitude values are labelled differently in the `worldcities.csv` and the earthquake data from USGS. This is a minor but very typical form of incompatibility between data formats that you will often need to deal with when working with real data.

### More examples of useful `pandas` functions

Here we show you some more pandas functions that you may find useful in this exercise. 

As we have seen, versatile filtering and sorting capabilities are provided by pandas. To get more understanding of these, you should look at tutorials of using Pandas DataFrames. But the following example illustrates how you can find and display quakes whose depth is greater than or equal to a given threshold:

In [105]:
def show_deep_quakes( depth ):
    # make deep_quakes DataFrame by selecting rows from QUAKE_DF
    deep_quakes = QUAKE_DF[ QUAKE_DF["depth"] >= depth ]  ## This is how you select rows by a condition
                                                          ## on one of the column values.
        
    print("Number of quakes of depth {} or deeper:".format(depth), 
           len(deep_quakes.index))     ## This finds the number of rows of the deep_quakes DataFrame
    
    display(deep_quakes.sort_values("depth", ascending=False))  ## Sort by descending depth value

**Note:**
The `QUAKES_DF` global variable needs to be set before these examples will work, so I am using a `try`, `except` construct to avoid getting an error.

In [106]:
try:
    show_deep_quakes(100)
except:
    print("Probably QUAKE_DF not correctly set")

Number of quakes of depth 100 or deeper: 7

                         time  latitude  ...  locationSource  magSource
15   2021-10-24T19:47:10.197Z  -21.9650  ...              us         us
34   2021-10-24T16:52:35.330Z  -24.3248  ...              us         us
130  2021-10-24T05:10:06.718Z  -31.4252  ...              us         us
25   2021-10-24T18:13:41.078Z   63.1602  ...              ak         ak
22   2021-10-24T18:19:38.538Z   63.0601  ...              ak         ak
92   2021-10-24T10:20:35.372Z   63.9101  ...              ak         ak
126  2021-10-24T05:33:53.624Z   59.7783  ...              ak         ak

[7 rows x 22 columns]

You can also find ```max``` and ```min``` values in a column. Eg:

In [108]:
try:
    QUAKE_DF["depth"].max()
except:
    print("Probably QUAKE_DF not correctly set")

In [109]:
try:
    QUAKE_DF["depth"].min()
except:
    print("Probably QUAKE_DF not correctly set")

### Question 2b: Find Powerful Quakes

Write a function `powerful_quakes` that takes a numerical argument and returns a `DataFrame` including
all the quakes in `QUAKE_DF` that have a magnitude greater than or equal to the given argument.

In [111]:
# Complete question 2b answer cell

def powerful_quakes(mag):
  mag_quakes = QUAKE_DF[ QUAKE_DF["mag"] >= mag ] 
    ## This is just returning an empty DataFrame you need to code it to return
    ## a DataFrame with all quakes of magnitude greater than or equal to mag
  return mag_quakes

### Question 2c: Find `n+` most powerful earthquakes

Produce a `DataFrame` with rows represent the `n`(or maybe more) most powerful quakes
in descending order of magnitude. The returned ``DataFrame`` should show at least `n`
quakes and may sometimes show more since we do not want to leave out any quake that is equally
powerful as the last quake listed in the `DataFrame`,
More specificially, we want the function to return a `DataFrame` that:
* has exactly the same column names as `QUAKES_DF`,
* each row has the same vaues in each column as a corresponding row in `QUAKES_DF` (but it does not matter whether the row indices in the returned `DataFrame` are the same or different from corresponding rows in `QUAKES_DF`),
* the rows of the returned `DataFrame` are ordered in _descending order_ of their magnitude column value (rows of equal magnitude can appear in any order),
* contains all and only those rows `QUAKES_DF`, such that there are fewer than `n` other rows in
  `QUAKES_DF` that have a higher magnitude.


#### Note:
The above definition of the requirements is clear and precise. Though you may ask for help and advice regarding implementation, you will not be given help with understanding the specification.

In [ ]:
# Question 2c answer cell

def most_powerful_n_quakes(n):
  sorted_mag = QUAKE_DF.sort_values(by = ["mag"], ascending= False)
  ????
    # Edit this function to make it return a DataFrame of 
    # the 'top n' quakes of the all_day.csv file

### Distance between locations on the Earth's surface

Clearly, when dealing with data pertaining to locations in space, the distince between such locations is often of great significance when interpreting or extracting further information from the data.

To help answer the following questions you are provided with the function ```haversine_distance```, 
which implements the [_Haversine formula_](https://en.wikipedia.org/wiki/Haversine_formula) to find the surface distance in kilometres between two locations, that are specified in terms of
latitude and longitude values. When finding distances betwen points on the surface of the
Earth We need to use this formula, rather than the simpler Pythagorean distance formula,
because the Earth's surface is a sphere.

In [6]:
## Function to compute distance between locations (kilometres) 
# Returns the surface distance in meters, according to the Haversine formula,
# between two locations given as (latitude, longitude) coordinate pairs.

import math
def haversine_distance( loc1 , loc2 ): 
    '''finds the distance (m) between 2 locations, where locations are defined by
    longitudes and latitudes'''
    lat1, lon1 = loc1
    lat2, lon2 = loc2
    radius = 6371  # kilometers
    dlat = math.radians(lat2 - lat1)
    dlon = math.radians(lon2 - lon1)
    a = (math.sin(dlat / 2) * math.sin(dlat / 2) +
         math.cos(math.radians(lat1)) * math.cos(math.radians(lat2)) *
         math.sin(dlon / 2) * math.sin(dlon / 2))
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    d = radius * c
    return d

### Question 2d: Sort quakes by distance from a given location

Write a function `quake_distance_from_loc_dataframe(loc)` satisfying the following requirements:
* It takes a location argument `(latitude,longitude)` consisting of a pair of `float`s 
    (Note: this is a single argument but consists of a pair of values represented as Python `tuple`.)

* It returns a `DataFrame` object derived from `QUAKE_DF` but with one extra column `distance_from_loc`, giving the distance of each quake from the given location. 

* The rows of the returned `DataFrame` should be the same as those in `QUAKE_DF` except for the aditional `distance_from_loc` column. (However, it is not necessary to preserve the index of the `DataFrame`, this will be ignored when your solution is tested.)

* The rows of the returned `DataFrame` should be _sorted_ in order of _increasing_ values of `distance_from_loc`. 

* The original DataFrame `QUAKE_DF` should not be altered by the execution of 
`quake_distance_from_loc_dataframe(loc)`.

#### Note:
You will need to do some research to find out how to create a new column and set its values.

In [7]:
## 2d Answer Code Cell

def quake_distance_from_loc_dataframe(loc):
  all_loc = []
  distance = []
  loc_DF = QUAKE_DF
  all_loc = list(zip(loc_DF['latitude'], loc_DF['longitude']))
  input_loc =  (59.9737, -140.1489)
  for row in all_loc:
    #if row != input_loc:
    distance.append(haversine_distance(row,loc))
  loc_DF["distance_from_loc"] = distance
  loc_DF = loc_DF.sort_values(by = ["distance_from_loc"], ascending= True)
  return loc_DF
    ## Replace with code so that the function returns a DataFrame in accord with the
    ## specification given above

In [139]:
quake_distance_from_loc_dataframe(input_loc)

                         time  latitude  ...  magSource  distance_from_loc
1    2021-10-24T22:46:23.312Z   59.9737  ...         ak           0.000000
132  2021-10-24T05:07:53.355Z   60.5491  ...         ak          85.281072
105  2021-10-24T07:41:52.946Z   59.0518  ...         ak         162.266142
40   2021-10-24T15:53:53.347Z   60.4181  ...         ak         167.726474
185  2021-10-24T00:57:32.242Z   61.7169  ...         ak         232.460591
..                        ...       ...  ...        ...                ...
195  2021-10-23T23:34:27.950Z   -4.6319  ...         us       11965.812710
130  2021-10-24T05:10:06.718Z  -31.4252  ...         us       12030.864670
95   2021-10-24T09:43:56.636Z   -9.6458  ...         us       12139.633653
32   2021-10-24T17:29:29.335Z  -44.8690  ...        guc       13022.500886
48   2021-10-24T14:56:44.003Z  -57.3052  ...         us       16386.431763

[199 rows x 23 columns]

In [137]:
all_loc = []
distance = []
loc_DF = QUAKE_DF
all_loc = list(zip(loc_DF['latitude'], loc_DF['longitude']))
input_loc =  (59.9737, -140.1489)
for row in all_loc:
  #if row != input_loc:
  distance.append(haversine_distance(row,input_loc))

loc_DF["distance_from_loc"] = distance
loc_DF = loc_DF.sort_values(by = ["distance_from_loc"], ascending= True)
loc_DF

                         time  latitude  ...  magSource  distance_from_loc
1    2021-10-24T22:46:23.312Z   59.9737  ...         ak           0.000000
132  2021-10-24T05:07:53.355Z   60.5491  ...         ak          85.281072
105  2021-10-24T07:41:52.946Z   59.0518  ...         ak         162.266142
40   2021-10-24T15:53:53.347Z   60.4181  ...         ak         167.726474
185  2021-10-24T00:57:32.242Z   61.7169  ...         ak         232.460591
..                        ...       ...  ...        ...                ...
195  2021-10-23T23:34:27.950Z   -4.6319  ...         us       11965.812710
130  2021-10-24T05:10:06.718Z  -31.4252  ...         us       12030.864670
95   2021-10-24T09:43:56.636Z   -9.6458  ...         us       12139.633653
32   2021-10-24T17:29:29.335Z  -44.8690  ...        guc       13022.500886
48   2021-10-24T14:56:44.003Z  -57.3052  ...         us       16386.431763

[199 rows x 23 columns]

In [135]:
row = (3.037900, 127.974300)
distance = (haversine_distance(row,input_loc))
distance

9819.450940666544

In [134]:
loc_DF.head()

                       time   latitude  ...  magSource  distance_from_loc
0  2021-10-24T22:48:20.469Z  59.500700  ...         ak         653.831334
1  2021-10-24T22:46:23.312Z  59.973700  ...         ak           0.000000
2  2021-10-24T22:07:08.100Z  19.196833  ...         hv        4694.843529
3  2021-10-24T21:54:53.548Z   3.037900  ...         us        9819.450941
4  2021-10-24T21:36:21.800Z  19.187666  ...         hv        4696.558156

[5 rows x 23 columns]

### Question 2e: Identifying Endangered Cities

The idea of this question is to identify possible emergency situations by finding
cities that are likely to suffer from the effects of
an earthquake.

#### Effect of an qarthquake at a distance from its epicenter
The effect of an earthquake on a city or person will depend on their distance from the source of the quake. The effect of an earthquake will depend on many factors and even the dependence on distance to source is very complex. However, after a bit of background research, Brandon has come up with a simple formula which hopefully at least gives a very crude estimate of relative effect of a quake with a particular magnitude and depth on a surface location at a known surface distance from the quake's epicenter. The calculated effective magnitude of an earthquake will be less that the source magnitude, for instance a magnitude 9 quake at a depth of 100km (which is likely to be extremely destructive, would have an effective magnitude of 5 at its epicentre (directly above the source) and 3.585 at a point on the earth surface 500km away from the epicenter.

In [8]:
def effective_magnitude( magnitude, depth, surface_distance ):
    energy = 10**magnitude  # convert logarithmic magnitude to a linear energy value
    if depth < 1:   # Crude fix for small or negative depths (can occur where land is above sea level)
        depth = 1
    ## Calculate distance to source by Pythagorus (ignoring curvature of surface)
    dist_to_source_squared =  depth**2 + surface_distance**2
    ## Apply inverse square distance multiplier to get energy density at distance from source
    ## (Ignores damping effects)
    attenuated_energy = energy/dist_to_source_squared
    attenuated_magnitude =  math.log10(attenuated_energy) ## Convert back to a log base 10 scale
    return attenuated_magnitude

# Some test cases.
#effective_magnitude(9,100,500)
#effective_magnitude(6,50, 100)

The _epicenter_ of an earthquake is the point on the earth that is directly above its source. Thus the effective magnitude at the epicenter is just the effective magnitude of the quake at surface distance zero:

In [9]:
def epicenter_magnitude( magnitude, depth ):
    return effective_magnitude( magnitude, depth, 0)

**Note:** For any given quake, its `effective_magnitude` at any point on Earth is always less than or equal to its `epicenter_magnitude`.

### Specification of the `endangered_cities` function

Now we get to the specification of the function.

Write a function `engangered_cities( minimum_population, minimum_effective_magnitude)`
that takes 
two numerical arguments: an `int` (`minimum_population`) and a `float` (`minimum_effective_magnitude`) 
and  returns a `list` specifying all those cities listed in 
the `WC_DF` such that:
* the city has  a population greater than or equal to the given `minimum_population`;

* for at least one of the quakes recorded in `QUAKE_DF`, the `effective_magnitude` (as determined by the
  function defined above) of that quake
   at the location of the city (as given in `worldcities.csv`) is equal to or greater than the  `minimum_effective_magnitude`.
   
* each city in the list should be represented by a tuple `(city_ascii, country, (lat, lng))`, giving
the city name in ASCII form, the country and the location (as a latitude, longitude pair).

* the returned list should be ordered aphabetically, primarily in terms of `country` and secondarily
  cities of the same country should be ordered in terms of `city_ascii`. 
  This ordering is illustrated by the sample output given below.

* A final condition is that the function should run in a reasonable time frame such that it can be expected to give correct and complete results after no more that 5 minutes excecution time. To ensure that this is feasible, the example cases you will be tested on, will be ones for which Brandon's solution ran in less than 2 minues on the Gradescope autograder platform. (All submissions will be tested on the same saved copy of `all_day.csv` previously downloaded from the USGS feed.)
   
##### Example Output:   

<pre>
 in [165]    %time        
             endangered_cities(200000, 0.5)
 
 out[165]    CPU times: user 1min 58s, sys: 768 µs, total: 1min 58s
             Wall time: 1min 58s
             [('Baghlan', 'Afghanistan', (36.1393, 68.6993)),
              ('Kunduz', 'Afghanistan', (36.728, 68.8725)),
              ('Mazar-e Sharif', 'Afghanistan', (36.7, 67.1)),
              ('Ambon', 'Indonesia', (-3.7167, 128.2)),
              ('Denov', 'Uzbekistan', (38.2772, 67.8872))]
</pre>

##### Notes:

* Your code should make use of the functions defined above: `haversine_distance`, `effective_magnitude` and `epicenter_magnitude`. You are advised not to change these otherwise you may get different results from what the Autograder is expecting.

* The calculation of this function is computationally intensive. For prelimiary testing you might use smaller data sets by, say only using cities in one country. 

* There are many optimisations that can be done to reduce the computational cost of finding the endangered cities. For example, calculating `epicenter_magnitude` enables weaker earthquakes to be ignifed withought the need to determine their distance from every city on earth. It may also be useful to not that when calcuating the effective magnitude of a given quake (with a specific depth) at different locations, the value always decreases as surface distance from the quake increases. 

* Remember that the autograder will run your actual code, so will probably take a while to grade this function. However, it only runs the function once and then performs 3 different tests on the value that is returned.

* The autograder will run on a presaved set of quakes (so the test is the same for all submissions). However, your code should run on any version of `all_day.csv` that you download from the USGS live feed.

In [ ]:
## 2e Answer Code Cell
def endangered_cities(min_population, min_effective_magnitude):
  
    ## Replace with code that fulfils the specification
    pass

In [68]:
min_population = 70000.0
#Albania_df = WC_DF[(WC_DF["country"] == "Albania") | (WC_DF["country"] == "Brazil")]
#
#pop_cities = Albania_df[Albania_df["population"] >= min_population]
pop_cities = WC_DF[WC_DF["population"] >= min_population]
pop_cities

                      city            city_ascii  ...  population          id
0                    Tokyo                 Tokyo  ...  35676000.0  1392685764
1                 New York              New York  ...  19354922.0  1840034016
2              Mexico City           Mexico City  ...  19028000.0  1484247881
3                   Mumbai                Mumbai  ...  18978000.0  1356226629
4                São Paulo             Sao Paulo  ...  18845000.0  1076532519
...                    ...                   ...  ...         ...         ...
7419  North Richland Hills  North Richland Hills  ...     70441.0  1840020703
7420           St. Charles           St. Charles  ...     70329.0  1840009719
7421              Châu Đốc              Chau Doc  ...     70239.0  1704020910
7422             Belogorsk             Belogorsk  ...     70203.0  1643671200
7423               Zhanggu               Zhanggu  ...     70000.0  1156031323

[3975 rows x 11 columns]

In [59]:
QUAKE_DF.head(2)

                       time  latitude  ...  locationSource  magSource
0  2021-10-25T12:16:52.659Z   63.1222  ...              ak         ak
1  2021-10-25T12:10:25.425Z   61.7563  ...              ak         ak

[2 rows x 22 columns]

In [69]:
endangered_cities_list = []
min_effective_magnitude = -10
for name, city_row in pop_cities.iterrows():
  for earthquake, earthquake_row in QUAKE_DF.iterrows():
    loc1 = (city_row["lat"], city_row["lng"])
    loc2 = (earthquake_row["latitude"], earthquake_row["longitude"])
    surface_distance = haversine_distance(loc1, loc2)
    eff_mag = effective_magnitude(earthquake_row['mag'], earthquake_row['depth'], surface_distance)
    epi_mag = epicenter_magnitude(earthquake_row['mag'], earthquake_row['depth'])
    if eff_mag >= min_effective_magnitude and eff_mag <= epi_mag:
      endangered_cities_list.append(tuple((city_row['city_ascii'], city_row["country"], (city_row["lat"], city_row["lng"]))))
      #my_tuple = (city_row['city_ascii'], city_row["country"], (city_row["lat"], city_row["lng"]))
      #endangered_cities_list.append(tuple((city_row['city_ascii'], city_row["country"], (city_row["lat"], city_row["lng"]))))
#and city_row['city_ascii'] not in endangered_cities_list
endangered_cities_list = list(set(endangered_cities_list))
endangered_cities_list_city = sorted(endangered_cities_list, key=lambda tup: tup[0])
endangered_cities_list_country = sorted(endangered_cities_list_city, key=lambda tup: tup[1])
endangered_cities_list_country
#endangered_cities_list = sorted(endangered_cities_list, key=lambda tup: tup[1])
#endangered_cities_list = sorted(endangered_cities_list, key=lambda tup: tup[0])
#endangered_cities_list

[('Andkhoy', 'Afghanistan', (36.9317, 65.1015)),
 ('Baghlan', 'Afghanistan', (36.1393, 68.6993)),
 ('Balkh', 'Afghanistan', (36.7501, 66.8997)),
 ('Farah', 'Afghanistan', (32.3917, 62.0968)),
 ('Gardez', 'Afghanistan', (33.6001, 69.2146)),
 ('Ghazni', 'Afghanistan', (33.5633, 68.4178)),
 ('Herat', 'Afghanistan', (34.33, 62.17)),
 ('Jalalabad', 'Afghanistan', (34.4415, 70.4361)),
 ('Kabul', 'Afghanistan', (34.5167, 69.1833)),
 ('Kandahar', 'Afghanistan', (31.61, 65.6949)),
 ('Kunduz', 'Afghanistan', (36.728, 68.8725)),
 ('Lashkar Gah', 'Afghanistan', (31.583, 64.36)),
 ('Maimanah', 'Afghanistan', (35.9302, 64.7701)),
 ('Mazar-e Sharif', 'Afghanistan', (36.7, 67.1)),
 ('Shibirghan', 'Afghanistan', (36.658, 65.7383)),
 ('Durres', 'Albania', (41.3178, 19.4482)),
 ('Elbasan', 'Albania', (41.1215, 20.0838)),
 ('Fier', 'Albania', (40.73, 19.573)),
 ('Shkoder', 'Albania', (42.0685, 19.5188)),
 ('Tirana', 'Albania', (41.3275, 19.8189)),
 ('Vlore', 'Albania', (40.4774, 19.4982)),
 ('Algiers', 'Algeria', (36.7631, 3.0506)),
 ('Annaba', 'Algeria', (36.92, 7.76)),
 ('Batna', 'Algeria', (35.57, 6.17)),
 ('Bechar', 'Algeria', (31.6111, -2.23)),
 ('Bejaia', 'Algeria', (36.7604, 5.07)),
 ('Biskra', 'Algeria', (34.86, 5.73)),
 ('Blida', 'Algeria', (36.4203, 2.83)),
 ('Bordj Bou Arreridj', 'Algeria', (36.059, 4.63)),
 ('Bouira', 'Algeria', (36.3805, 3.9)),
 ('Chlef', 'Algeria', (36.1704, 1.32)),
 ('Constantine', 'Algeria', (36.36, 6.5999)),
 ('Djelfa', 'Algeria', (34.68, 3.25)),
 ('El Oued', 'Algeria', (33.3704, 6.86)),
 ('Ghardaia', 'Algeria', (32.49, 3.67)),
 ('Guelma', 'Algeria', (36.466, 7.428)),
 ('Jijel', 'Algeria', (36.822, 5.766)),
 ('Laghouat', 'Algeria', (33.81, 2.88)),
 ("M'Sila", 'Algeria', (35.7, 4.545)),
 ('Mascara', 'Algeria', (35.4004, 0.14)),
 ('Medea', 'Algeria', (36.2704, 2.77)),
 ('Mostaganem', 'Algeria', (35.9404, 0.09)),
 ('Oran', 'Algeria', (35.71, -0.62)),
 ('Ouargla', 'Algeria', (31.97, 5.34)),
 ('Oum el Bouaghi', 'Algeria', (35.85, 7.15)),
 ('Saida', 'Algeria', (34.8404, 0.14)),
 ('Setif', 'Algeria', (36.18, 5.4)),
 ('Sidi Bel Abbes', 'Algeria', (35.1903, -0.64)),
 ('Skikda', 'Algeria', (36.8804, 6.9)),
 ('Souk Ahras', 'Algeria', (36.2904, 7.95)),
 ('Tamanrasset', 'Algeria', (22.785, 5.5228)),
 ('Tebessa', 'Algeria', (35.4104, 8.12)),
 ('Tiaret', 'Algeria', (35.3804, 1.32)),
 ('Tizi Ouzou', 'Algeria', (36.8, 4.0333)),
 ('Tlemcen', 'Algeria', (34.8904, -1.32)),
 ('Touggourt', 'Algeria', (33.1, 6.06)),
 ('Benguela', 'Angola', (-12.5783, 13.4072)),
 ('Cabinda', 'Angola', (-5.5596, 12.19)),
 ('Capenda Camulemba', 'Angola', (-9.4196, 18.43)),
 ('Cuito', 'Angola', (-12.38, 16.94)),
 ('Huambo', 'Angola', (-12.75, 15.76)),
 ('Lobito', 'Angola', (-12.37, 13.5412)),
 ('Luanda', 'Angola', (-8.8383, 13.2344)),
 ('Lubango', 'Angola', (-14.91, 13.49)),
 ('Malanje', 'Angola', (-9.54, 16.34)),
 ('Namibe', 'Angola', (-15.19, 12.16)),
 ('Bahia Blanca', 'Argentina', (-38.74, -62.265)),
 ('Buenos Aires', 'Argentina', (-34.6025, -58.3975)),
 ('Campana', 'Argentina', (-34.16, -58.96)),
 ('Comodoro Rivadavia', 'Argentina', (-45.87, -67.5)),
 ('Concordia', 'Argentina', (-31.3896, -58.03)),
 ('Cordoba', 'Argentina', (-31.4, -64.1823)),
 ('Corrientes', 'Argentina', (-27.49, -58.81)),
 ('Formosa', 'Argentina', (-26.1728, -58.1828)),
 ('General Roca', 'Argentina', (-39.02, -67.61)),
 ('Goya', 'Argentina', (-29.14, -59.27)),
 ('Gualeguaychu', 'Argentina', (-33.02, -58.52)),
 ('Junin', 'Argentina', (-34.5846, -60.9589)),
 ('La Plata', 'Argentina', (-34.9096, -57.96)),
 ('La Rioja', 'Argentina', (-29.41, -66.85)),
 ('Lujan', 'Argentina', (-34.5796, -59.11)),
 ('Mar del Plata', 'Argentina', (-38.0, -57.58)),
 ('Mendoza', 'Argentina', (-32.8833, -68.8166)),
 ('Necochea', 'Argentina', (-38.56, -58.75)),
 ('Neuquen', 'Argentina', (-38.95, -68.06)),
 ('Olavarria', 'Argentina', (-36.9, -60.33)),
 ('Parana', 'Argentina', (-31.7333, -60.5333)),
 ('Pergamino', 'Argentina', (-33.8996, -60.57)),
 ('Posadas', 'Argentina', (-27.3578, -55.8851)),
 ('Presidencia Roque Saenz Pena', 'Argentina', (-26.79, -60.45)),
 ('Rafaela', 'Argentina', (-31.25, -61.5)),
 ('Reconquista', 'Argentina', (-29.1395, -59.65)),
 ('Resistencia', 'Argentina', (-27.46, -58.99)),
 ('Rio Cuarto', 'Argentina', (-33.13, -64.35)),
 ('Rio Gallegos', 'Argentina', (-51.6333, -69.2166)),
 ('Rosario', 'Argentina', (-32.9511, -60.6663)),
 ('Salta', 'Argentina', (-24.7834, -65.4166)),
 ('San Carlos de Bariloche', 'Argentina', (-41.15, -71.3)),
 ('San Fernando del Valle de Catamarca', 'Argentina', (-28.47, -65.78)),
 ('San Juan', 'Argentina', (-31.55, -68.52)),
 ('San Luis', 'Argentina', (-33.3, -66.35)),
 ('San Martin', 'Argentina', (-33.07, -68.49)),
 ('San Miguel de Tucuman', 'Argentina', (-26.816, -65.2166)),
 ('San Nicolas de los Arroyos', 'Argentina', (-33.33, -60.24)),
 ('San Rafael', 'Argentina', (-34.6, -68.3333)),
 ('San Ramon de la Nueva Oran', 'Argentina', (-23.14, -64.32)),
 ('San Salvador de Jujuy', 'Argentina', (-24.1833, -65.3)),
 ('Santa Fe', 'Argentina', (-31.6239, -60.69)),
 ('Santa Rosa', 'Argentina', (-36.62, -64.3)),
 ('Santiago del Estero', 'Argentina', (-27.7833, -64.2667)),
 ('Tandil', 'Argentina', (-37.32, -59.15)),
 ('Trelew', 'Argentina', (-43.25, -65.33)),
 ('Venado Tuerto', 'Argentina', (-33.7496, -61.97)),
 ('Villa Maria', 'Argentina', (-32.41, -63.26)),
 ('Zarate', 'Argentina', (-34.0896, -59.04)),
 ('Gyumri', 'Armenia', (40.7894, 43.8475)),
 ('Vanadzor', 'Armenia', (40.8128, 44.4883)),
 ('Yerevan', 'Armenia', (40.1812, 44.5136)),
 ('Adelaide', 'Australia', (-34.935, 138.6)),
 ('Albury', 'Australia', (-36.06, 146.92)),
 ('Ballarat', 'Australia', (-37.5596, 143.84)),
 ('Bendigo', 'Australia', (-36.76, 144.28)),
 ('Brisbane', 'Australia', (-27.455, 153.0351)),
 ('Cairns', 'Australia', (-16.8878, 145.7633)),
 ('Canberra', 'Australia', (-35.283, 149.129)),
 ('Cranbourne', 'Australia', (-38.0996, 145.2834)),
 ('Darwin', 'Australia', (-12.4254, 130.85)),
 ('Geelong', 'Australia', (-38.1675, 144.3956)),
 ('Gold Coast', 'Australia', (-28.0815, 153.4482)),
 ('Hobart', 'Australia', (-42.85, 147.295)),
 ('Launceston', 'Australia', (-41.4498, 147.1302)),
 ('Mackay', 'Australia', (-21.1439, 149.15)),
 ('Mandurah', 'Australia', (-32.5235, 115.7471)),
 ('Melbourne', 'Australia', (-37.82, 144.975)),
 ('Newcastle', 'Australia', (-32.8453, 151.815)),
 ('Nowra', 'Australia', (-34.8828, 150.6)),
 ('Perth', 'Australia', (-31.955, 115.84)),
 ('Sydney', 'Australia', (-33.92, 151.1852)),
 ('Toowoomba', 'Australia', (-27.5645, 151.9555)),
 ('Townsville', 'Australia', (-19.25, 146.77)),
 ('Wollongong', 'Australia', (-34.4154, 150.89)),
 ('Graz', 'Austria', (47.0778, 15.41)),
 ('Innsbruck', 'Austria', (47.2804, 11.41)),
 ('Klagenfurt', 'Austria', (46.6203, 14.31)),
 ('Linz', 'Austria', (48.3192, 14.2888)),
 ('Salzburg', 'Austria', (47.8105, 13.04)),
 ('Vienna', 'Austria', (48.2, 16.3666)),
 ('Wiener Neustadt', 'Austria', (47.816, 16.25)),
 ('Baku', 'Azerbaijan', (40.3953, 49.8622)),
 ('Ganca', 'Azerbaijan', (40.685, 46.35)),
 ('Naxcivan', 'Azerbaijan', (39.2092, 45.4122)),
 ('Sirvan', 'Azerbaijan', (39.9323, 48.9203)),
 ('Sumqayit', 'Azerbaijan', (40.58, 49.63)),
 ('Nassau', 'Bahamas, The', (25.0834, -77.35)),
 ('Manama', 'Bahrain', (26.2361, 50.5831)),
 ('Barisal', 'Bangladesh', (22.7004, 90.375)),
 ('Chittagong', 'Bangladesh', (22.33, 91.8)),
 ('Comilla', 'Bangladesh', (23.4704, 91.17)),
 ('Dhaka', 'Bangladesh', (23.7231, 90.4086)),
 ('Jamalpur', 'Bangladesh', (24.9004, 89.95)),
 ('Jessore', 'Bangladesh', (23.1704, 89.2)),
 ('Khulna', 'Bangladesh', (22.84, 89.56)),
 ('Mymensingh', 'Bangladesh', (24.7504, 90.38)),
 ('Narayanganj', 'Bangladesh', (23.6204, 90.5)),
 ('Nawabganj', 'Bangladesh', (24.5804, 88.35)),
 ('Pabna', 'Bangladesh', (24.0004, 89.25)),
 ('Rajshahi', 'Bangladesh', (24.375, 88.605)),
 ('Rangpur', 'Bangladesh', (25.75, 89.28)),
 ('Saidpur', 'Bangladesh', (25.8004, 89.0)),
 ('Sylhet', 'Bangladesh', (24.9036, 91.8736)),
 ('Tangail', 'Bangladesh', (24.25, 89.92)),
 ('Bridgetown', 'Barbados', (13.102, -59.6165)),
 ('Babruysk', 'Belarus', (53.1266, 29.1928)),
 ('Baranavichy', 'Belarus', (53.1368, 26.0134)),
 ('Brest', 'Belarus', (52.1, 23.7)),
 ("Homyel'", 'Belarus', (52.43, 31.0)),
 ('Horad Barysaw', 'Belarus', (54.226, 28.4922)),
 ('Hrodna', 'Belarus', (53.6779, 23.8341)),
 ('Lida', 'Belarus', (53.8885, 25.2846)),
 ('Mahilyow', 'Belarus', (53.8985, 30.3247)),
 ('Maladzyechna', 'Belarus', (54.3188, 26.8653)),
 ('Mazyr', 'Belarus', (52.046, 29.2722)),
 ('Minsk', 'Belarus', (53.9, 27.5666)),
 ('Orsha', 'Belarus', (54.5153, 30.4215)),
 ('Pinsk', 'Belarus', (52.1279, 26.0941)),
 ('Polatsk', 'Belarus', (55.4894, 28.786)),
 ('Vitsyebsk', 'Belarus', (55.1887, 30.1853)),
 ('Antwerp', 'Belgium', (51.2204, 4.415)),
 ('Bruges', 'Belgium', (51.2204, 3.23)),
 ('Brussels', 'Belgium', (50.8333, 4.3333)),
 ('Charleroi', 'Belgium', (50.4204, 4.45)),
 ('Gent', 'Belgium', (51.03, 3.7)),
 ('Liege', 'Belgium', (50.63, 5.58)),
 ('Mons', 'Belgium', (50.446, 3.939)),
 ('Namur', 'Belgium', (50.4704, 4.87)),
 ('Abomey', 'Benin', (7.1904, 1.99)),
 ('Cotonou', 'Benin', (6.4, 2.52)),
 ('Djougou', 'Benin', (9.7004, 1.68)),
 ('Kandi', 'Benin', (11.1304, 2.94)),
 ('Lokossa', 'Benin', (6.615, 1.715)),
 ('Natitingou', 'Benin', (10.3204, 1.39)),
 ('Ouidah', 'Benin', (6.3604, 2.09)),
 ('Parakou', 'Benin', (9.34, 2.62)),
 ('Porto-Novo', 'Benin', (6.4833, 2.6166)),
 ('Thimphu', 'Bhutan', (27.473, 89.639)),
 ('Cochabamba', 'Bolivia', (-17.41, -66.17)),
 ('La Paz', 'Bolivia', (-16.498, -68.15)),
 ('Montero', 'Bolivia', (-17.3496, -63.26)),
 ('Oruro', 'Bolivia', (-17.98, -67.13)),
 ('Potosi', 'Bolivia', (-19.5696, -65.75)),
 ('Quillacollo', 'Bolivia', (-17.4, -66.28)),
 ('Riberalta', 'Bolivia', (-10.983, -66.1)),
 ('Santa Ana de Yacuma', 'Bolivia', (-13.76, -65.58)),
 ('Santa Cruz', 'Bolivia', (-17.7539, -63.226)),
 ('Sucre', 'Bolivia', (-19.041, -65.2595)),
 ('Tarija', 'Bolivia', (-21.5167, -64.75)),
 ('Trinidad', 'Bolivia', (-14.8334, -64.9)),
 ('Banja Luka', 'Bosnia And Herzegovina', (44.7804, 17.18)),
 ('Mostar', 'Bosnia And Herzegovina', (43.3505, 17.82)),
 ('Prijedor', 'Bosnia And Herzegovina', (44.9804, 16.7)),
 ('Sarajevo', 'Bosnia And Herzegovina', (43.85, 18.383)),
 ('Tuzla', 'Bosnia And Herzegovina', (44.5505, 18.68)),
 ('Zenica', 'Bosnia And Herzegovina', (44.22, 17.92)),
 ('Francistown', 'Botswana', (-21.17, 27.5)),
 ('Gaborone', 'Botswana', (-24.6463, 25.9119)),
 ('Abaetetuba', 'Brazil', (-1.7245, -48.8849)),
 ('Alagoinhas', 'Brazil', (-12.14, -38.43)),
 ('Altamira', 'Brazil', (-3.1996, -52.21)),
 ('Americana', 'Brazil', (-22.7499, -47.33)),
 ('Anapolis', 'Brazil', (-16.3196, -48.96)),
 ('Apucarana', 'Brazil', (-23.55, -51.47)),
 ('Aracaju', 'Brazil', (-10.9, -37.12)),
 ('Aracatuba', 'Brazil', (-21.21, -50.45)),
 ('Araguari', 'Brazil', (-18.64, -48.2)),
 ('Arapiraca', 'Brazil', (-9.75, -36.67)),
 ('Arapongas', 'Brazil', (-23.41, -51.43)),
 ('Araxa', 'Brazil', (-19.5796, -46.95)),
 ('Assis', 'Brazil', (-22.6596, -50.42)),
 ('Avare', 'Brazil', (-23.11, -48.93)),
 ('Bacabal', 'Brazil', (-4.23, -44.8)),
 ('Bage', 'Brazil', (-31.32, -54.1)),
 ('Barbacena', 'Brazil', (-21.22, -43.77)),
 ('Barra Mansa', 'Brazil', (-22.56, -44.17)),
 ('Barreiras', 'Brazil', (-12.14, -45.0)),
 ('Barretos', 'Brazil', (-20.55, -48.58)),
 ('Bauru', 'Brazil', (-22.33, -49.08)),
 ('Belem', 'Brazil', (-1.45, -48.48)),
 ('Belo Horizonte', 'Brazil', (-19.915, -43.915)),
 ('Bento Goncalves', 'Brazil', (-29.1695, -51.52)),
 ('Blumenau', 'Brazil', (-26.92, -49.09)),
 ('Boa Vista', 'Brazil', (2.8161, -60.666)),
 ('Botucatu', 'Brazil', (-22.8796, -48.45)),
 ('Braganca Paulista', 'Brazil', (-22.95, -46.55)),
 ('Brasilia', 'Brazil', (-15.7833, -47.9161)),
 ('Brusque', 'Brazil', (-27.13, -48.93)),
 ('Cabo Frio', 'Brazil', (-22.89, -42.04)),
 ('Caceres', 'Brazil', (-16.05, -57.51)),
 ('Cachoeira do Sul', 'Brazil', (-30.03, -52.91)),
 ('Cachoeiro de Itapemirim', 'Brazil', (-20.85, -41.13)),
 ('Campina Grande', 'Brazil', (-7.23, -35.88)),
 ('Campinas', 'Brazil', (-22.9, -47.1)),
 ('Campo Grande', 'Brazil', (-20.45, -54.6166)),
 ('Campo Mourao', 'Brazil', (-24.0496, -52.42)),
 ('Campos', 'Brazil', (-21.75, -41.32)),
 ('Canoas', 'Brazil', (-29.92, -51.18)),
 ('Carpina', 'Brazil', (-7.84, -35.26)),
 ('Caruaru', 'Brazil', (-8.28, -35.98)),
 ('Cascavel', 'Brazil', (-24.9596, -53.46)),
 ('Castanhal', 'Brazil', (-1.2896, -47.93)),
 ('Catanduva', 'Brazil', (-21.14, -48.98)),
 ('Caxias', 'Brazil', (-4.833, -43.35)),
 ('Caxias do Sul', 'Brazil', (-29.18, -51.17)),
 ('Chapeco', 'Brazil', (-27.1, -52.64)),
 ('Codo', 'Brazil', (-4.4796, -43.88)),
 ('Conselheiro Lafaiete', 'Brazil', (-20.67, -43.79)),
 ('Corumba', 'Brazil', (-19.016, -57.65)),
 ('Crato', 'Brazil', (-7.2296, -39.42)),
 ('Crato', 'Brazil', (-7.4639, -63.04)),
 ('Criciuma', 'Brazil', (-28.68, -49.39)),
 ('Cuiaba', 'Brazil', (-15.5696, -56.085)),
 ('Curitiba', 'Brazil', (-25.42, -49.32)),
 ('Divinopolis', 'Brazil', (-20.1495, -44.9)),
 ('Dourados', 'Brazil', (-22.23, -54.81)),
 ('Erechim', 'Brazil', (-27.63, -52.27)),
 ('Feira de Santana', 'Brazil', (-12.25, -38.97)),
 ('Florianopolis', 'Brazil', (-27.58, -48.52)),
 ('Formosa', 'Brazil', (-15.5395, -47.34)),
 ('Fortaleza', 'Brazil', (-3.75, -38.58)),
 ('Foz do Iguacu', 'Brazil', (-25.5235, -54.53)),
 ('Franca', 'Brazil', (-20.53, -47.39)),
 ('Garanhuns', 'Brazil', (-8.89, -36.5)),
 ('Goiana', 'Brazil', (-7.5596, -35.0)),
 ('Goiania', 'Brazil', (-16.72, -49.3)),
 ('Governador Valadares', 'Brazil', (-18.87, -41.97)),
 ('Guarapuava', 'Brazil', (-25.38, -51.48)),
 ('Guaratingueta', 'Brazil', (-22.82, -45.19)),
 ('Iguacu', 'Brazil', (-22.74, -43.47)),
 ('Iguatu', 'Brazil', (-6.36, -39.3)),
 ('Ijui', 'Brazil', (-28.3895, -53.9199)),
 ('Ilheus', 'Brazil', (-14.78, -39.05)),
 ('Imperatriz', 'Brazil', (-5.52, -47.49)),
 ('Ipatinga', 'Brazil', (-19.4796, -42.52)),
 ('Itabuna', 'Brazil', (-14.7896, -39.28)),
 ('Itaituba', 'Brazil', (-4.2586, -55.925)),
 ('Itajai', 'Brazil', (-26.8996, -48.68)),
 ('Itanhaem', 'Brazil', (-24.18, -46.8)),
 ('Itapetininga', 'Brazil', (-23.59, -48.04)),
 ('Itauna', 'Brazil', (-20.06, -44.57)),
 ('Itu', 'Brazil', (-23.26, -47.3)),
 ('Ituiutaba', 'Brazil', (-18.97, -49.46)),
 ('Itumbiara', 'Brazil', (-18.3996, -49.21)),
 ('Jaboatao', 'Brazil', (-8.11, -35.02)),
 ('Jaragua do Sul', 'Brazil', (-26.48, -49.1)),
 ('Jatai', 'Brazil', (-17.8796, -51.75)),
 ('Jau', 'Brazil', (-22.2896, -48.57)),
 ('Jequie', 'Brazil', (-13.85, -40.08)),
 ('Joao Pessoa', 'Brazil', (-7.1011, -34.8761)),
 ('Joinvile', 'Brazil', (-26.32, -48.8399)),
 ('Juazeiro', 'Brazil', (-9.42, -40.5)),
 ('Juazeiro do Norte', 'Brazil', (-7.21, -39.32)),
 ('Juiz de Fora', 'Brazil', (-21.77, -43.375)),
 ('Jundiai', 'Brazil', (-23.2, -46.88)),
 ('Lajes', 'Brazil', (-27.8096, -50.31)),
 ('Lavras', 'Brazil', (-21.2496, -45.01)),
 ('Limeira', 'Brazil', (-22.5495, -47.4)),
 ('Linhares', 'Brazil', (-19.39, -40.05)),
 ('Londrina', 'Brazil', (-23.3, -51.18)),
 ('Macae', 'Brazil', (-22.38, -41.79)),
 ('Macapa', 'Brazil', (0.033, -51.05)),
 ('Maceio', 'Brazil', (-9.62, -35.73)),
 ('Manaus', 'Brazil', (-3.1, -60.0)),
 ('Maraba', 'Brazil', (-5.35, -49.116)),
 ('Marilia', 'Brazil', (-22.21, -49.95)),
 ('Maringa', 'Brazil', (-23.4095, -51.93)),
 ('Montes Claros', 'Brazil', (-16.72, -43.86)),
 ('Mossoro', 'Brazil', (-5.19, -37.34)),
 ('Muriae', 'Brazil', (-21.13, -42.39)),
 ('Natal', 'Brazil', (-5.78, -35.24)),
 ('Natal', 'Brazil', (-6.9838, -60.2699)),
 ('Niteroi', 'Brazil', (-22.9, -43.1)),
 ('Nova Friburgo', 'Brazil', (-22.26, -42.54)),
 ('Nova Lima', 'Brazil', (-19.98, -43.85)),
 ('Novo Hamburgo', 'Brazil', (-29.7096, -51.14)),
 ('Olinda', 'Brazil', (-8.0, -34.85)),
 ('Ourinhos', 'Brazil', (-22.97, -49.87)),
 ('Palmas', 'Brazil', (-10.2377, -48.2878)),
 ('Paracatu', 'Brazil', (-17.1996, -46.87)),
 ('Paranagua', 'Brazil', (-25.5279, -48.5345)),
 ('Parnaiba', 'Brazil', (-2.91, -41.77)),
 ('Passo Fundo', 'Brazil', (-28.25, -52.42)),
 ('Passos', 'Brazil', (-20.71, -46.61)),
 ('Patos', 'Brazil', (-7.0196, -37.29)),
 ('Paulo Afonso', 'Brazil', (-9.3307, -38.2657)),
 ('Pelotas', 'Brazil', (-31.75, -52.33)),
 ('Petrolina', 'Brazil', (-9.38, -40.51)),
 ('Petropolis', 'Brazil', (-22.5095, -43.2)),
 ('Pindamonhangaba', 'Brazil', (-22.92, -45.47)),
 ('Piracicaba', 'Brazil', (-22.71, -47.64)),
 ('Pocos de Caldas', 'Brazil', (-21.78, -46.57)),
 ('Ponta Grossa', 'Brazil', (-25.09, -50.16)),
 ('Ponta Pora', 'Brazil', (-22.53, -55.73)),
 ('Porto Alegre', 'Brazil', (-30.05, -51.2)),
 ('Porto Seguro', 'Brazil', (-16.4296, -39.08)),
 ('Porto Uniao', 'Brazil', (-26.2396, -51.08)),
 ('Porto Velho', 'Brazil', (-8.75, -63.9)),
 ('Pouso Alegre', 'Brazil', (-22.22, -45.94)),
 ('Presidente Prudente', 'Brazil', (-22.12, -51.39)),
 ('Recife', 'Brazil', (-8.0756, -34.9156)),
 ('Ribeirao Preto', 'Brazil', (-21.17, -47.83)),
 ('Rio Branco', 'Brazil', (-9.9666, -67.8)),
 ('Rio Claro', 'Brazil', (-22.41, -47.56)),
 ('Rio Grande', 'Brazil', (-32.0495, -52.12)),
 ('Rio Largo', 'Brazil', (-9.48, -35.84)),
 ('Rio de Janeiro', 'Brazil', (-22.925, -43.225)),
 ('Rondonopolis', 'Brazil', (-16.4695, -54.64)),
 ('Salvador', 'Brazil', (-12.97, -38.48)),
 ('Santa Cruz do Sul', 'Brazil', (-29.71, -52.44)),
 ('Santa Maria', 'Brazil', (-29.6833, -53.8)),
 ('Santana', 'Brazil', (-0.0396, -51.18)),
 ('Santana do Livramento', 'Brazil', (-30.88, -55.53)),
 ('Santarem', 'Brazil', (-2.4333, -54.7)),
 ('Santo Agostinho', 'Brazil', (-8.29, -35.03)),
 ('Santo Andre', 'Brazil', (-23.6528, -46.5278)),
 ('Santos', 'Brazil', (-23.9537, -46.3329)),
 ('Sao Carlos', 'Brazil', (-22.02, -47.89)),
 ('Sao Joao da Boa Vista', 'Brazil', (-21.98, -46.79)),
 ('Sao Joao del Rei', 'Brazil', (-21.13, -44.25)),
 ('Sao Jose do Rio Preto', 'Brazil', (-20.7996, -49.39)),
 ('Sao Jose dos Campos', 'Brazil', (-23.2, -45.8799)),
 ('Sao Jose dos Pinhais', 'Brazil', (-25.57, -49.18)),
 ('Sao Luis', 'Brazil', (-2.516, -44.266)),
 ('Sao Mateus', 'Brazil', (-18.7296, -39.86)),
 ('Sao Paulo', 'Brazil', (-23.5587, -46.625)),
 ('Sete Lagoas', 'Brazil', (-19.4496, -44.25)),
 ('Sobral', 'Brazil', (-3.69, -40.35)),
 ('Sorocaba', 'Brazil', (-23.49, -47.47)),
 ('Tatui', 'Brazil', (-23.35, -47.86)),
 ('Taubate', 'Brazil', (-23.0195, -45.56)),
 ('Teofilo Otoni', 'Brazil', (-17.87, -41.5)),
 ('Teresina', 'Brazil', (-5.095, -42.78)),
 ('Timon', 'Brazil', (-5.115, -42.845)),
 ('Tres Lagoas', 'Brazil', (-20.79, -51.72)),
 ('Trindade', 'Brazil', (-16.65, -49.5)),
 ('Tubarao', 'Brazil', (-28.48, -49.02)),
 ('Tucurui', 'Brazil', (-3.68, -49.72)),
 ('Uba', 'Brazil', (-21.1196, -42.95)),
 ('Uberaba', 'Brazil', (-19.78, -47.95)),
 ('Uberlandia', 'Brazil', (-18.9, -48.28)),
 ('Uruguaiana', 'Brazil', (-29.7696, -57.09)),
 ('Varzea Grande', 'Brazil', (-15.65, -56.14)),
 ('Vila Velha', 'Brazil', (-20.3676, -40.318)),
 ('Vila Velha', 'Brazil', (3.2167, -51.2167)),
 ('Vitoria', 'Brazil', (-20.324, -40.366)),
 ('Vitoria da Conquista', 'Brazil', (-14.85, -40.84)),
 ('Volta Redonda', 'Brazil', (-22.5196, -44.095)),
 ('Bandar Seri Begawan', 'Brunei', (4.8833, 114.9333)),
 ('Burgas', 'Bulgaria', (42.5146, 27.4746)),
 ('Dobrich', 'Bulgaria', (43.5851, 27.84)),
 ('Haskovo', 'Bulgaria', (41.9438, 25.5633)),
 ('Pernik', 'Bulgaria', (42.61, 23.0227)),
 ('Pleven', 'Bulgaria', (43.4238, 24.6134)),
 ('Plovdiv', 'Bulgaria', (42.154, 24.754)),
 ('Ruse', 'Bulgaria', (43.8537, 25.9733)),
 ('Shumen', 'Bulgaria', (43.27, 26.9294)),
 ('Sliven', 'Bulgaria', (42.6794, 26.33)),
 ('Sofia', 'Bulgaria', (42.6833, 23.3167)),
 ('Stara Zagora', 'Bulgaria', (42.4231, 25.6227)),
 ('Varna', 'Bulgaria', (43.2156, 27.8953)),
 ('Vratsa', 'Bulgaria', (43.21, 23.5625)),
 ('Bobo-Dioulasso', 'Burkina Faso', (11.18, -4.29)),
 ('Koudougou', 'Burkina Faso', (12.2505, -2.37)),
 ('Ouagadougou', 'Burkina Faso', (12.3703, -1.5247)),
 ('Ouahigouya', 'Burkina Faso', (13.5704, -2.42)),
 ('Bago', 'Burma', (17.32, 96.515)),
 ('Chauk', 'Burma', (20.9085, 94.823)),
 ('Dawei', 'Burma', (14.098, 98.195)),
 ('Hinthada', 'Burma', (17.6483, 95.4679)),
 ('Letpandan', 'Burma', (17.7819, 95.7415)),
 ('Magway', 'Burma', (20.1445, 94.9196)),

In [39]:
def check_in_cities_list(city, endangered_cities_list):
  for tup in endangered_cities_list:
    if city == tup[0]:
      return True
    return False

In [66]:
endangered_cities_list_city = sorted(endangered_cities_list, key=lambda tup: tup[0])
endangered_cities_list_country = sorted(endangered_cities_list_city, key=lambda tup: tup[1])
endangered_cities_list_country

[('Durres', 'Albania', (41.3178, 19.4482)),
 ('Elbasan', 'Albania', (41.1215, 20.0838)),
 ('Fier', 'Albania', (40.73, 19.573)),
 ('Shkoder', 'Albania', (42.0685, 19.5188)),
 ('Tirana', 'Albania', (41.3275, 19.8189)),
 ('Vlore', 'Albania', (40.4774, 19.4982)),
 ('Abaetetuba', 'Brazil', (-1.7245, -48.8849)),
 ('Alagoinhas', 'Brazil', (-12.14, -38.43)),
 ('Altamira', 'Brazil', (-3.1996, -52.21)),
 ('Americana', 'Brazil', (-22.7499, -47.33)),
 ('Anapolis', 'Brazil', (-16.3196, -48.96)),
 ('Apucarana', 'Brazil', (-23.55, -51.47)),
 ('Aracaju', 'Brazil', (-10.9, -37.12)),
 ('Aracatuba', 'Brazil', (-21.21, -50.45)),
 ('Araguari', 'Brazil', (-18.64, -48.2)),
 ('Arapiraca', 'Brazil', (-9.75, -36.67)),
 ('Arapongas', 'Brazil', (-23.41, -51.43)),
 ('Araxa', 'Brazil', (-19.5796, -46.95)),
 ('Assis', 'Brazil', (-22.6596, -50.42)),
 ('Avare', 'Brazil', (-23.11, -48.93)),
 ('Bacabal', 'Brazil', (-4.23, -44.8)),
 ('Bage', 'Brazil', (-31.32, -54.1)),
 ('Barbacena', 'Brazil', (-21.22, -43.77)),
 ('Barra Mansa', 'Brazil', (-22.56, -44.17)),
 ('Barreiras', 'Brazil', (-12.14, -45.0)),
 ('Barretos', 'Brazil', (-20.55, -48.58)),
 ('Bauru', 'Brazil', (-22.33, -49.08)),
 ('Belem', 'Brazil', (-1.45, -48.48)),
 ('Belo Horizonte', 'Brazil', (-19.915, -43.915)),
 ('Bento Goncalves', 'Brazil', (-29.1695, -51.52)),
 ('Blumenau', 'Brazil', (-26.92, -49.09)),
 ('Boa Vista', 'Brazil', (2.8161, -60.666)),
 ('Botucatu', 'Brazil', (-22.8796, -48.45)),
 ('Braganca Paulista', 'Brazil', (-22.95, -46.55)),
 ('Brasilia', 'Brazil', (-15.7833, -47.9161)),
 ('Brusque', 'Brazil', (-27.13, -48.93)),
 ('Cabo Frio', 'Brazil', (-22.89, -42.04)),
 ('Caceres', 'Brazil', (-16.05, -57.51)),
 ('Cachoeira do Sul', 'Brazil', (-30.03, -52.91)),
 ('Cachoeiro de Itapemirim', 'Brazil', (-20.85, -41.13)),
 ('Campina Grande', 'Brazil', (-7.23, -35.88)),
 ('Campinas', 'Brazil', (-22.9, -47.1)),
 ('Campo Grande', 'Brazil', (-20.45, -54.6166)),
 ('Campo Mourao', 'Brazil', (-24.0496, -52.42)),
 ('Campos', 'Brazil', (-21.75, -41.32)),
 ('Canoas', 'Brazil', (-29.92, -51.18)),
 ('Carpina', 'Brazil', (-7.84, -35.26)),
 ('Caruaru', 'Brazil', (-8.28, -35.98)),
 ('Cascavel', 'Brazil', (-24.9596, -53.46)),
 ('Castanhal', 'Brazil', (-1.2896, -47.93)),
 ('Catanduva', 'Brazil', (-21.14, -48.98)),
 ('Caxias', 'Brazil', (-4.833, -43.35)),
 ('Caxias do Sul', 'Brazil', (-29.18, -51.17)),
 ('Chapeco', 'Brazil', (-27.1, -52.64)),
 ('Codo', 'Brazil', (-4.4796, -43.88)),
 ('Conselheiro Lafaiete', 'Brazil', (-20.67, -43.79)),
 ('Corumba', 'Brazil', (-19.016, -57.65)),
 ('Crato', 'Brazil', (-7.4639, -63.04)),
 ('Crato', 'Brazil', (-7.2296, -39.42)),
 ('Criciuma', 'Brazil', (-28.68, -49.39)),
 ('Cuiaba', 'Brazil', (-15.5696, -56.085)),
 ('Curitiba', 'Brazil', (-25.42, -49.32)),
 ('Divinopolis', 'Brazil', (-20.1495, -44.9)),
 ('Dourados', 'Brazil', (-22.23, -54.81)),
 ('Erechim', 'Brazil', (-27.63, -52.27)),
 ('Feira de Santana', 'Brazil', (-12.25, -38.97)),
 ('Florianopolis', 'Brazil', (-27.58, -48.52)),
 ('Formosa', 'Brazil', (-15.5395, -47.34)),
 ('Fortaleza', 'Brazil', (-3.75, -38.58)),
 ('Foz do Iguacu', 'Brazil', (-25.5235, -54.53)),
 ('Franca', 'Brazil', (-20.53, -47.39)),
 ('Garanhuns', 'Brazil', (-8.89, -36.5)),
 ('Goiana', 'Brazil', (-7.5596, -35.0)),
 ('Goiania', 'Brazil', (-16.72, -49.3)),
 ('Governador Valadares', 'Brazil', (-18.87, -41.97)),
 ('Guarapuava', 'Brazil', (-25.38, -51.48)),
 ('Guaratingueta', 'Brazil', (-22.82, -45.19)),
 ('Iguacu', 'Brazil', (-22.74, -43.47)),
 ('Iguatu', 'Brazil', (-6.36, -39.3)),
 ('Ijui', 'Brazil', (-28.3895, -53.9199)),
 ('Ilheus', 'Brazil', (-14.78, -39.05)),
 ('Imperatriz', 'Brazil', (-5.52, -47.49)),
 ('Ipatinga', 'Brazil', (-19.4796, -42.52)),
 ('Itabuna', 'Brazil', (-14.7896, -39.28)),
 ('Itaituba', 'Brazil', (-4.2586, -55.925)),
 ('Itajai', 'Brazil', (-26.8996, -48.68)),
 ('Itanhaem', 'Brazil', (-24.18, -46.8)),
 ('Itapetininga', 'Brazil', (-23.59, -48.04)),
 ('Itauna', 'Brazil', (-20.06, -44.57)),
 ('Itu', 'Brazil', (-23.26, -47.3)),
 ('Ituiutaba', 'Brazil', (-18.97, -49.46)),
 ('Itumbiara', 'Brazil', (-18.3996, -49.21)),
 ('Jaboatao', 'Brazil', (-8.11, -35.02)),
 ('Jaragua do Sul', 'Brazil', (-26.48, -49.1)),
 ('Jatai', 'Brazil', (-17.8796, -51.75)),
 ('Jau', 'Brazil', (-22.2896, -48.57)),
 ('Jequie', 'Brazil', (-13.85, -40.08)),
 ('Joao Pessoa', 'Brazil', (-7.1011, -34.8761)),
 ('Joinvile', 'Brazil', (-26.32, -48.8399)),
 ('Juazeiro', 'Brazil', (-9.42, -40.5)),
 ('Juazeiro do Norte', 'Brazil', (-7.21, -39.32)),
 ('Juiz de Fora', 'Brazil', (-21.77, -43.375)),
 ('Jundiai', 'Brazil', (-23.2, -46.88)),
 ('Lajes', 'Brazil', (-27.8096, -50.31)),
 ('Lavras', 'Brazil', (-21.2496, -45.01)),
 ('Limeira', 'Brazil', (-22.5495, -47.4)),
 ('Linhares', 'Brazil', (-19.39, -40.05)),
 ('Londrina', 'Brazil', (-23.3, -51.18)),
 ('Macae', 'Brazil', (-22.38, -41.79)),
 ('Macapa', 'Brazil', (0.033, -51.05)),
 ('Maceio', 'Brazil', (-9.62, -35.73)),
 ('Manaus', 'Brazil', (-3.1, -60.0)),
 ('Maraba', 'Brazil', (-5.35, -49.116)),
 ('Marilia', 'Brazil', (-22.21, -49.95)),
 ('Maringa', 'Brazil', (-23.4095, -51.93)),
 ('Montes Claros', 'Brazil', (-16.72, -43.86)),
 ('Mossoro', 'Brazil', (-5.19, -37.34)),
 ('Muriae', 'Brazil', (-21.13, -42.39)),
 ('Natal', 'Brazil', (-5.78, -35.24)),
 ('Natal', 'Brazil', (-6.9838, -60.2699)),
 ('Niteroi', 'Brazil', (-22.9, -43.1)),
 ('Nova Friburgo', 'Brazil', (-22.26, -42.54)),
 ('Nova Lima', 'Brazil', (-19.98, -43.85)),
 ('Novo Hamburgo', 'Brazil', (-29.7096, -51.14)),
 ('Olinda', 'Brazil', (-8.0, -34.85)),
 ('Ourinhos', 'Brazil', (-22.97, -49.87)),
 ('Palmas', 'Brazil', (-10.2377, -48.2878)),
 ('Paracatu', 'Brazil', (-17.1996, -46.87)),
 ('Paranagua', 'Brazil', (-25.5279, -48.5345)),
 ('Parnaiba', 'Brazil', (-2.91, -41.77)),
 ('Passo Fundo', 'Brazil', (-28.25, -52.42)),
 ('Passos', 'Brazil', (-20.71, -46.61)),
 ('Patos', 'Brazil', (-7.0196, -37.29)),
 ('Paulo Afonso', 'Brazil', (-9.3307, -38.2657)),
 ('Pelotas', 'Brazil', (-31.75, -52.33)),
 ('Petrolina', 'Brazil', (-9.38, -40.51)),
 ('Petropolis', 'Brazil', (-22.5095, -43.2)),
 ('Pindamonhangaba', 'Brazil', (-22.92, -45.47)),
 ('Piracicaba', 'Brazil', (-22.71, -47.64)),
 ('Pocos de Caldas', 'Brazil', (-21.78, -46.57)),
 ('Ponta Grossa', 'Brazil', (-25.09, -50.16)),
 ('Ponta Pora', 'Brazil', (-22.53, -55.73)),
 ('Porto Alegre', 'Brazil', (-30.05, -51.2)),
 ('Porto Seguro', 'Brazil', (-16.4296, -39.08)),
 ('Porto Uniao', 'Brazil', (-26.2396, -51.08)),
 ('Porto Velho', 'Brazil', (-8.75, -63.9)),
 ('Pouso Alegre', 'Brazil', (-22.22, -45.94)),
 ('Presidente Prudente', 'Brazil', (-22.12, -51.39)),
 ('Recife', 'Brazil', (-8.0756, -34.9156)),
 ('Ribeirao Preto', 'Brazil', (-21.17, -47.83)),
 ('Rio Branco', 'Brazil', (-9.9666, -67.8)),
 ('Rio Claro', 'Brazil', (-22.41, -47.56)),
 ('Rio Grande', 'Brazil', (-32.0495, -52.12)),
 ('Rio Largo', 'Brazil', (-9.48, -35.84)),
 ('Rio de Janeiro', 'Brazil', (-22.925, -43.225)),
 ('Rondonopolis', 'Brazil', (-16.4695, -54.64)),
 ('Salvador', 'Brazil', (-12.97, -38.48)),
 ('Santa Cruz do Sul', 'Brazil', (-29.71, -52.44)),
 ('Santa Maria', 'Brazil', (-29.6833, -53.8)),
 ('Santana', 'Brazil', (-0.0396, -51.18)),
 ('Santana do Livramento', 'Brazil', (-30.88, -55.53)),
 ('Santarem', 'Brazil', (-2.4333, -54.7)),
 ('Santo Agostinho', 'Brazil', (-8.29, -35.03)),
 ('Santo Andre', 'Brazil', (-23.6528, -46.5278)),
 ('Santos', 'Brazil', (-23.9537, -46.3329)),
 ('Sao Carlos', 'Brazil', (-22.02, -47.89)),
 ('Sao Joao da Boa Vista', 'Brazil', (-21.98, -46.79)),
 ('Sao Joao del Rei', 'Brazil', (-21.13, -44.25)),
 ('Sao Jose do Rio Preto', 'Brazil', (-20.7996, -49.39)),
 ('Sao Jose dos Campos', 'Brazil', (-23.2, -45.8799)),
 ('Sao Jose dos Pinhais', 'Brazil', (-25.57, -49.18)),
 ('Sao Luis', 'Brazil', (-2.516, -44.266)),
 ('Sao Mateus', 'Brazil', (-18.7296, -39.86)),
 ('Sao Paulo', 'Brazil', (-23.5587, -46.625)),
 ('Sete Lagoas', 'Brazil', (-19.4496, -44.25)),
 ('Sobral', 'Brazil', (-3.69, -40.35)),
 ('Sorocaba', 'Brazil', (-23.49, -47.47)),
 ('Tatui', 'Brazil', (-23.35, -47.86)),
 ('Taubate', 'Brazil', (-23.0195, -45.56)),
 ('Teofilo Otoni', 'Brazil', (-17.87, -41.5)),
 ('Teresina', 'Brazil', (-5.095, -42.78)),
 ('Timon', 'Brazil', (-5.115, -42.845)),
 ('Tres Lagoas', 'Brazil', (-20.79, -51.72)),
 ('Trindade', 'Brazil', (-16.65, -49.5)),
 ('Tubarao', 'Brazil', (-28.48, -49.02)),
 ('Tucurui', 'Brazil', (-3.68, -49.72)),
 ('Uba', 'Brazil', (-21.1196, -42.95)),
 ('Uberaba', 'Brazil', (-19.78, -47.95)),
 ('Uberlandia', 'Brazil', (-18.9, -48.28)),
 ('Uruguaiana', 'Brazil', (-29.7696, -57.09)),
 ('Varzea Grande', 'Brazil', (-15.65, -56.14)),
 ('Vila Velha', 'Brazil', (3.2167, -51.2167)),
 ('Vila Velha', 'Brazil', (-20.3676, -40.318)),
 ('Vitoria', 'Brazil', (-20.324, -40.366)),
 ('Vitoria da Conquista', 'Brazil', (-14.85, -40.84)),
 ('Volta Redonda', 'Brazil', (-22.5196, -44.095))]

In [85]:
set(endangered_cities_list)

{('Bajram Curri', 'Albania', (42.3333, 20.0833)),
 ('Berat', 'Albania', (40.71, 19.972)),
 ('Burrel', 'Albania', (41.626, 20.016)),
 ('Corovode', 'Albania', (40.5167, 20.2333)),
 ('Durres', 'Albania', (41.3178, 19.4482)),
 ('Elbasan', 'Albania', (41.1215, 20.0838)),
 ('Erseke', 'Albania', (40.3333, 20.6833)),
 ('Fier', 'Albania', (40.73, 19.573)),
 ('Gjirokaster', 'Albania', (40.079, 20.149)),
 ('Gramsh', 'Albania', (40.8667, 20.2)),
 ('Korce', 'Albania', (40.6167, 20.7667)),
 ('Kruje', 'Albania', (41.519, 19.797)),
 ('Kukes', 'Albania', (42.083, 20.434)),
 ('Lezhe', 'Albania', (41.788, 19.654)),
 ('Librazhd', 'Albania', (41.2, 20.3667)),
 ('Lushnje', 'Albania', (40.94, 19.716)),
 ('Permet', 'Albania', (40.234, 20.352)),
 ('Peshkopi', 'Albania', (41.6833, 20.4333)),
 ('Pogradec', 'Albania', (40.9, 20.664)),
 ('Rreshen', 'Albania', (41.7833, 19.8167)),
 ('Sarande', 'Albania', (39.877, 20.0)),
 ('Shkoder', 'Albania', (42.0685, 19.5188)),
 ('Tepelene', 'Albania', (40.2833, 20.0333)),
 ('Tirana', 'Albania', (41.3275, 19.8189)),
 ('Vlore', 'Albania', (40.4774, 19.4982))}

In [82]:
endangered_cities_list[-1:][0]

('Bajram Curri', 'Albania', (42.3333, 20.0833))

## Optional Exercises

Having got this far, you may find it interesting and informative to do some more processing
of the city and earthquake information.
Since the previous exercises were designed so they can be quickly and reliably assessed by the autograding software, they involve coding particular functions with very specific requirements. But the following exercises are more open ended and give suggestions for interactive and visual use of the city and earthquake data.

To ensure that your assignment submission works with the autograding software when submitted, it is recommended that you now save this file and make a new copy with a different name, such as `Earthquakes_optional.ipynb`. Then use the new file to continue with the optional exercises.

### Constructing a city risk status alert `DataFrame`

A government or other organisation may want to monitor a certain list of cities with regard to whether
they may be at risk of earthquake damage. To answer this question you should create a function
that uses the `endangered_cities` function you have defined above to create such a `DataFrame`.

Your function `city_risk_alert` should return a pandas DataFrame that includes the status of ```'ENDANGERED'``` or ```'SAFE'``` for a certain city. The dataframe should also contain the city name, country and status for each city input. You could also extend this to add more columns showing
things like the distance and magnitude of the nearest earthquake. And you could perhaps make it
so any endangered cities were put at the top of the list.

For example:
```
display( city_risk_alert( ['Rome', 'Milan', 'Pisa'] )
```

might give the following output:

 
| city  | country|status|
|-------|-------|-----|
| Pisa  | Italy | ENDANGERED |
| Rome  | Italy | SAFE |
| Milan | Italy | SAFE |

## Visualisation Exercise: display endangered cities on a map

The code below creates a Map object using the ```ipyleaflet``` module and uses this to
display powerful quakes on the map. If you have coded the `powerful_quakes` function for
Question 2b above, the code in the cell below the map should draw the detected powerful
quakes onto the map at their correct locations.

To install the ```ipyleaflet``` module use ```pip3 install ipyleaflet```. If the map does not display after installation be sure to restart the kernel, and close and reopen this file. We provide the ```draw_circle_on_map``` function, this add circles to a specified location on the map, where the location is defined by longitudes and latitudes.

In [ ]:
from ipyleaflet import Map, basemaps, basemap_to_tiles, Circle, Polyline
from ipywidgets import Layout

LEEDS_LOC  = ( 53.8008,  -1.5491  ) # Here we define the longitude and latitude of Leeds
WORLD_MAP = Map(basemap=basemaps.OpenTopoMap, center=LEEDS_LOC, zoom=1.5,
                layout=Layout(height="500px")) # Here we create a map object centred on Leeds

WORLD_MAP

In [ ]:
def draw_circle_on_map( a_map, location, radius = 1000, color="red", fill_color=None ):
    if not fill_color:
        fill_color = color
    circle = Circle()
    circle.location = location
    circle.radius = radius
    circle.color = color
    circle.fill_color = fill_color
    a_map.add_layer(circle)

# This will edit your previous map rather than produce a new one    
draw_circle_on_map(WORLD_MAP, LEEDS_LOC, color="green" ) 

def display_powerful_quakes_on_map(mag):
    powerful = powerful_quakes(3)
    for i, quake in powerful.iterrows():
        draw_circle_on_map( WORLD_MAP,
                            (quake["latitude"],quake["longitude"]), 
                            radius= 20000*int(quake["mag"]) )

display_powerful_quakes_on_map(3)

### More Ideas for Graphical Display
It would be nice to also see the endangered cities on the map. For an ambitious exercise you
could see if you can draw lines on the map running from from the locations of powerful
earthquakes to the cities that are endangered by them.